.Button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    white-space: nowrap;
    border-image-repeat: stretch;
    min-width: 140px;
}
.default {
    background-color: #ececec;
    color:black;
}
