.EmotionItem {
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.EmotionItem img {
    width: 100%;
    margin-bottom: 5px;
}

.EmotionItem span{
    font-size: 14px;
    white-space: nowrap;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.EmotionItem-off{

}

.EmotionItem-on-1{
    background-color: #64c964;
}

.EmotionItem-on-2{
    background-color: #9dd772;
}

.EmotionItem-on-3{
    background-color: #fdce17;
}

.EmotionItem-on-4{
    background-color: #fd8446;
}

.EmotionItem-on-5 {
    background-color: #fd565f;
    padding: 2px 8px 2px 7px;
}
.EmotionItem-on-1 span{
    padding-top: 10px;
}
.EmotionItem-on-2 span{
    padding-top: 10px;
}
.EmotionItem-on-3 span{
    padding-top: 10px;
}
.EmotionItem-on-4 span{
    padding-top: 10px;
}
.EmotionItem-on-5 span{
    padding-top: 10px;
}

