.Header {
    padding-top: 20px;
    padding-bottom: 20px;

    display: flex;
    align-items: center;
    border-bottom: 3px solid #e2e2e2;
    margin-bottom: 3px;
}

.Header > div {
    display: flex;
}

.Header .header-title {
    width: 50%;
    font-size: 20px;
    justify-content: center;
}

.Header .header-left {
    width: 25%;
    justify-content: start;
}

.Header .header-right {
    width: 25%;
    justify-content: end;
}