.Viewer{
    background-image: url("../assets/img/diary_bg.png");
}
.Viewer section {
    width: 100%;
    margin-bottom: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}


.emotion-img-wrapper {
    background-color: #ececec;
    min-width: 400px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.emotion-img-wrapper-1{
    background-image: url("../assets/img/emotion1_bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.emotion-img-wrapper-2{
    background-image: url("../assets/img/emotion2_bg.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.emotion-img-wrapper-2 img{
    padding-bottom: 155px;;
}
.emotion-img-wrapper-3{
    background-image: url("../assets/img/emotion3_bg.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.emotion-img-wrapper-3 img {
    margin-top: 10px;
}
.emotion-img-wrapper-4{
    background-image: url("../assets/img/emotion4_bg.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.emotion-img-wrapper-4 img {
    margin-top: 24px;
}
.emotion-img-wrapper-5{
    background-image: url("../assets/img/emotion5_bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.black-description-box {
    box-shadow: 0 0 0 3px #000;
    min-width: 400px;
}
.content-wrapper {
    width: 100%;
    background-color: #ececec;
    border-radius: 5px;
    word-break: keep-all;
    overflow-wrap: break-word;
}
.content-wrapper p {
    padding: 20px;
    text-align: left;
    font-size: 20px;
    font-weight: 400;
    line-height: 2.5;

}
