@import url('https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');

@import url('https://fonts.cdnfonts.com/css/press-start-2p');

@font-face {
  font-family: "Galmuri9";
}

@font-face {
  font-family: 'PressStart2P', sans-serif;
}


html, body, pre, code, kbd, samp {
  font-family: "Galmuri9";
}

.App{

}

.main-content .nes-container.is-dark{
  margin-bottom: 30px;
}

.PressStart2P{
  font-family: "PressStart2P";
}

.em25{
  font-size: 2.5em;
}